# DATABASE
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/multi_tenant"
# APP
PORT=4000
NODE_ENV=development
API_PREFIX=api/v1
ALLOWED_ORIGINS="http://localhost:3000"

# AUTH
JWT_SECRET="replace_this_with_a_secure_long_random_jwt_secret_key"
JWT_EXPIRATION="15m"
REFRESH_TOKEN_SECRET="replace_this_with_a_secure_long_random_refresh_token_secret_key"
REFRESH_TOKEN_EXPIRATION="7d"

# REDIS
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# RATE LIMIT
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# MAILER (Placeholder)
MAIL_HOST="smtp.example.com"
MAIL_PORT=587
MAIL_USER="user@example.com"
MAIL_PASS="password"
MAIL_FROM="noreply@example.com"

# Storage
STORAGE_DRIVER=local # or 's3'
STORAGE_PATH=./storage
AWS_S3_BUCKET=your-bucket
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# App Info for 2FA
APP_NAME=YourCompanySaaS

# AI Key
GEMINI_API_KEY=your_google_ai_key

# OpenTelemetry & APM Tracing Config
OTEL_SERVICE_NAME="multi-tenant-backend"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318/v1/traces" # Jaeger / SigNoz / Datadog
APM_TRACING_ENABLED=true

# Enterprise Secrets Management Provider
# Options: 'env' | 'aws-kms' | 'vault'
SECRETS_PROVIDER="env"
ENCRYPTED_JWT_SECRET="" # Encrypted base64 string when SECRETS_PROVIDER="aws-kms"
KMS_MASTER_KEY_ARN=""
